@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

/* Header */

header {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Body */
body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #777777;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 5px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/*colours*/

.bg-color-contact {
    background-color: #fff;
}

/* Home Page section */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("assets/images/Kevin Pearse (4).webp") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text, cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: 'Merriweather Sans';
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Gallery section */

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

/* Contact section */

.bg-color-contact {
    background-color: #fff;
}

.contact-heading {
    font-family: 'Merriweather Sans';
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/* media queries */

@media screen and (max-width:992px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

@media(min-width: 992px) {
    .center-form {
            padding-top: 30px;
            min-height: 240px;
            margin: 0 auto;
            max-width: 50%;
        }
}

/* Footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}