@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
    color: #777777;
}

h2{
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #777777;
}

#logo{
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #4d2396;
}

.active{
    border-bottom: 1px solid #4d2396;
}

/* if needing hero image, here is CSS:
#hero-image{
    height:600px;
    width: 100%;
    background: url(IMAGE LINK)
} Rest is on videos. Lets image zoom and the text over the image
*/

.contact-heading {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

.bg-color-contact {
    background-color: #fff;
}

@media screen and (max-width:992px) {

    #menu{
        clear:left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}

footer{
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}